<aside class="space-y-2">
    <a class="btn btn-block" href="/lessons/index.html">All Lessons</a>
    <div class="divider my-2">Topics</div>
    <ul class="menu bg-base-100 rounded-box">
      <li><a href="/lessons/lesson.html?id=1">1. Setup</a></li>
      <li><a href="/lessons/lesson.html?id=2">2. Templates</a></li>
      <li><a href="/lessons/lesson.html?id=3">3. Tailwind & DaisyUI</a></li>
      <li><a href="/lessons/lesson.html?id=4">4. Data → Templates</a></li>
      <li><a href="/lessons/lesson.html?id=5">5. Forms</a></li>
      <li><a href="/lessons/lesson.html?id=6">6. Lists (Guestbook)</a></li>
      <li><a href="/lessons/lesson.html?id=7">7. Dicts (Recipes)</a></li>
      <li><a href="/lessons/lesson.html?id=8">8. Multi-page (Movies)</a></li>
      <li><a href="/lessons/lesson.html?id=9">9. Project Launch</a></li>
      <li><a href="/lessons/lesson.html?id=10">10. Dev Milestone</a></li>
      <li><a href="/lessons/lesson.html?id=11">11. Video</a></li>
      <li><a href="/lessons/lesson.html?id=12">12. Flash</a></li>
      <li><a href="/lessons/lesson.html?id=13">13. Static</a></li>
      <li><a href="/lessons/lesson.html?id=14">14. Themes</a></li>
      <li><a href="/lessons/lesson.html?id=15">15. Hackathon</a></li>
    </ul>
  </aside>
  